<%= render 'admin/sessions/header' %>

<h2>注文履歴詳細</h2>

<h4>購入者</h4>
<p><%= @customer.last_name + @customer.first_name %></p>

<h4>注文日</h4>
<p><%= @customer.created_at.strftime('%Y/%m/%d') %></p>

<h4>配送先</h4>
<p><%= "〒" + @order.postal_code + @order.address %></p><br>
<%= @order.name %>

<h4>支払方法</h4>
<p><%= @order.payment_method_i18n %></p>


<table>
 <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
   </thead>
   <tbody>
       <% @order_details.each do |order_detail| %>
       <tr>
         <td><%= order_detail.item.name %></td>
         <td><%= order_detail.item.with_tax_price %></td>
         <td><%= order_detail.amount %></td>
         <td><%= order_detail.subtotal %></td>
         <% @total += (order_detail.item.with_tax_price) *(order_detail.amount) %>
         <% end %>
   </tbody>
</table>

<table>
 <thead>
    <th>商品合計</th>
    <th>送料</th>
    <th>請求金額合計</th>
   </thead>
   <tbody>
       <tr>
         <td><%= @total %></td>
         <td><%= @order.shipping_cost %></td>
         <td><%= @order.shipping_cost + @total %></td>
       </tr>
   </tbody>
</table>