<%= render 'public/homes/header' %>
<div class="container">

    <h1>商品一覧</h1>
  </div>

    <% @items.each do |item| %>
      <%= link_to public_item_path(item.id) do %>
      <%= image_tag item.get_image, size: "100x100" %>
      <% end %><br>
      <%= item.name %><br>
      <%= "¥"+item.price.to_s %>
    <% end %>

    <%= paginate @items %>

