<%= render 'public/homes/header' %>

<p><%= image_tag @item.image %></p>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p><%= "¥"+@item.price.to_s %></p>


<%= form_with model: CartItem.new, url: public_cart_items_path do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>


<%= f.select :amount, *[1..3] %>
<%= f.submit 'カートに入れる' %>
<% end %>
